@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="m-5">

    <div class="text-black m-5 p-4 text-center">
        <h1>HAKKIMIZDA</h1><br /><br /><br />
        <blockquote class="blockquote">
            <p>
                Ve-fat.com Amacı vefat eden tanıdıklarınızı ücretsiz olarak paylaşabileceğiniz, taziyelerinizi sunabileceğiniz , merhum hakkında fotoğraflar eklebileceğiniz aradan yııllar geçse bile dönüp bakabileceğiniz süresiz kayıtlar tutmak için oluşturulmuş bilgi paylaşım platformudur.<br /><br />

                Ücretsiz şekilde üye olup ilan verebilir , verilen ilanlara yorumlar yapabilir acınızı paylaşabilir , başkalarının verdiği ilanlarda kişilere destek olabilirsiniz.<br /><br />

                Sizin şehrinizden hangi gün kimlerin vefat ettiği , uzun yıllardır görmediğiniz tanıdıklarınızın , akrabalarınızın hayatta olup olmadıklarını ve-fat.com dan öğrenebilirsiniz bu amaçlara ulaşma yönetemi olarak kullanılabilirliği ve fonksiyonları yönünden basit bir arayüz ve anlaşılabilir makul hizmetler sunmaktayız.<br /><br />

                Ve-fat.com  misyonu tüm dünya çapında global hizmet ağına dönüşerek her coğrafyadan kişilere hizmet vermektir.

            </p>
        </blockquote>

    </div>


</div>
