@{
    ViewData["Title"] = "Vefat Bilgi Paylaşım Sitesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">VE-FAT.COM HOŞGELDİNİZ</h1>
   
   
    <h5>Vefat İlanı Eklemek İçin Üye Olmanız Gerekmektedir. Üye olmak için <a  class="text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Register">Üye Ol</a> Butonuna Tıklayınız.</h5><br/>
    <h5>Zaten Bir Hesabın Var mı ? <a class="text-white font-weight-bold"  asp-area="" asp-controller="Home" asp-action="login">Giriş Yap</a></h5>


</div>
